---
layout: default

---
{% if site.github.url %}
  {% assign url_base = site.github.url %}
{% else %}
  {% assign url_base = site.url %}
{% endif %}
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Blog Home Two
            <small>Subheading</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{url_base}}/index.html">Home</a>
            </li>
            <li class="active">Blog Home Two</li>
        </ol>
    </div>
</div>
<!-- /.row -->

{% for post in site.posts %}
<!-- Blog Post Row -->
<div class="row">
    <div class="col-md-1 text-center">
        <p><i class="fa fa-camera fa-4x"></i>
        </p>
        <p>{{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
    <div class="col-md-5">
        <a href="{{url_base}}/{{ post.url }}">
            <img class="img-responsive img-hover" src="{{ site.placeholderimagesbaseurl }}{{ post.previewimage }}" alt="">
        </a>
    </div>
    <div class="col-md-6">
        <h3>
            <a href="{{url_base}}/{{ post.url }}">{{ post.title }}</a>
        </h3>
        <p>by <a href="{{url_base}}/{{ post.url }}">{{ post.author }}</a>
        </p>
        <p>{{ post.excerpt }}</p>
        <a class="btn btn-primary" href="{{url_base}}/{{ post.url }}">Read More <i class="fa fa-angle-right"></i></a>
    </div>
</div>
<!-- /.row -->

<hr>

{% endfor %}

<!-- Pager -->
<div class="row">
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a>
        </li>
        <li class="next"><a href="#">Newer &rarr;</a>
        </li>
    </ul>
</div>
<!-- /.row -->

