{% if page.carousel %}
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for image in page.carousel %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.index }}"{% if forloop.first %} class="active">{% endif %}</li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for image in page.carousel %}
        <div class="item{% if forloop.first %} active{% endif %}">
            <div class="fill" style="background-image:url('{{ site.placeholderimagesbaseurl }}{{ image.img }}{% if img.txt %}&text={{ img.txt }}{% endif %}');"></div>
            <div class="carousel-caption">
                <h2>{{ image.caption }}</h2>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
{% endif %}

