{% if site.github.url %}
  {% assign url_base = site.github.url %}
{% else %}
  {% assign url_base = / %}
{% endif %}
<!-- jQuery -->
<script src="{{ url_base }}/js/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_base }}/js/bootstrap.min.js"></script>

{% include pagescript.html %}
