<nav class="navbar navbar-toggleable-md justify-content-between navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{url_base}}/index.html">{{ site.organization }}</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item active">
            <a class="nav-link" href="{{url_base}}/about.html">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_base}}/services.html">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_base}}/contact.html">Contact</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{url_base}}/portfolio-1-col.html">1 Column Portfolio</a>
                <a class="dropdown-item" href="{{url_base}}/portfolio-2-col.html">2 Column Portfolio</a>
                <a class="dropdown-item" href="{{url_base}}/portfolio-3-col.html">3 Column Portfolio</a>
                <a class="dropdown-item" href="{{url_base}}/portfolio-4-col.html">4 Column Portfolio</a>
                <a class="dropdown-item" href="{{url_base}}/portfolio-item.html">Single Portfolio Item</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{url_base}}/blog-home-1.html">Blog Home 1</a>
                <a class="dropdown-item" href="{{url_base}}/blog-home-2.html">Blog Home 2</a>
                <a class="dropdown-item"href="{{url_base}}/blog-post.html">Blog Post</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{url_base}}/full-width.html">Full Width Page</a>
                <a class="dropdown-item" href="{{url_base}}/sidebar.html">Sidebar Page</a>
                <a class="dropdown-item" href="{{url_base}}/faq.html">FAQ</a>
                <a class="dropdown-item" href="{{url_base}}/404.html">404</a>
                <a class="dropdown-item" href="{{url_base}}/pricing.html">Pricing Table</a>                
            </div>
        </li>
    </ul>
  </div>
</nav>