{% if page.portfolio %}
<!-- Portfolio Section -->
<div class="row">
    {% for portfolioitem in page.portfolio.items %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="{{  portfolioitem.link }}">
                <img class="card-img-top" src="{{ site.placeholderimagesbaseurl }}{{ portfolioitem.img }}" alt="{{ portfolioitem.alt }}">
            </a>
            <div class="card-body">
                <h4 class="card-title">
                <a href="#">{{ page.portfolio.heading }}</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- /.row -->
{% endif %}
